@import "tailwindcss";

@layer base {
  body {
    font-family: 'Chivo', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
    background-color: #050505;
    color: #e0e0e0;
  }
  
  code, pre, .font-mono {
    font-family: 'JetBrains Mono', monospace;
  }
}

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background: #080808;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #27272a;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #00FF00;
  }
}
